//general
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
  }
}

.#{$prefix}-d {
  &-none {
    display: none;
  }
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-grid {
    display: grid;
  }
  &-inline-block {
    display: inline-block;
  }
}

.#{$prefix}-parag {
  margin-bottom: 0;
  @include poly-fluid-sizing('font-size', (576px: 18px, 992px: 22px));
  @include lh-unitless(35, 22);
}

//margins
.#{$prefix}-m {
  &-auto {
    margin: 0 auto;
  }
  &t {
    &-0 {
      margin-top: 0;
    }
    &-4 {
      margin-top: 4px;
    }
    &-12 {
      margin-top: 12px;
    }
    &-16 {
      margin-top: 16px;
    }
    &-32 {
      margin-top: 32px;
    }
    &-40 {
      margin-top: 40px;
    }
    &-48 {
      margin-top: 48px;
    }
    &-60 {
      margin-top: 60px;
    }
    &-64 {
      margin-top: 64px;
    }
    &-72 {
      margin-top: 72px;
    }
    &-80 {
      margin-top: 80px;
    }
    &-100 {
      margin-top: 100px;
    }
    &-5-negative {
      margin-top: -5px;
    }
    &-16-negative {
      margin-top: -16px;
    }
    &-20-negative {
      margin-top: -20px;
    }
    &-30-negative {
      margin-top: -30px;
    }
    &-40-negative {
      margin-top: -40px;
    }
    &-60-negative {
      margin-top: -60px;
    }
  }
  &r {
    &-auto {
      margin-right: auto;
    }
    &-8 {
      margin-right: 8px;
    }
    &-12 {
      margin-right: 12px;
    }
    &-16 {
      margin-right: 16px;
    }
    &-20 {
      margin-right: 20px;
    }
    &-24 {
      margin-right: 24px;
    }
    &-32 {
      margin-right: 32px;
    }
    &-36 {
      margin-right: 36px;
    }
    &-48 {
      margin-right: 48px;
    }
  }
  &b {
    &-0 {
      margin-bottom: 0;
    }
    &-4 {
      margin-bottom: 4px;
    }
    &-8 {
      margin-bottom: 8px;
    }
    &-12 {
      margin-bottom: 12px;
    }
    &-16 {
      margin-bottom: 16px;
    }
    &-18 {
      margin-bottom: 18px;
    }
    &-20 {
      margin-bottom: 20px;
    }
    &-24 {
      margin-bottom: 24px;
    }
    &-28 {
      margin-bottom: 28px;
    }
    &-32 {
      margin-bottom: 32px;
    }
    &-40 {
      margin-bottom: 40px;
    }
    &-48 {
      margin-bottom: 48px;
    }
    &-56 {
      margin-bottom: 56px;
    }
    &-60 {
      margin-bottom: 60px;
    }
    &-64 {
      margin-bottom: 64px;
    }
    &-72 {
      margin-bottom: 72px;
    }
    &-80 {
      margin-bottom: 80px;
    }
    &-90 {
      margin-bottom: 90px;
    }
    &-100 {
      margin-bottom: 100px;
    }
    &-140 {
      margin-bottom: 140px;
    }
    &-20-negative {
      margin-bottom: -20px;
    }
  }
  &l {
    &-auto {
      margin-left: auto;
    }
    &-4 {
      margin-left: 4px;
    }
    &-8 {
      margin-left: 8px;
    }
    &-12 {
      margin-left: 12px;
    }
    &-14 {
      margin-left: 14px;
    }
    &-16 {
      margin-left: 16px;
    }
    &-20 {
      margin-left: 20px;
    }
    &-24 {
      margin-left: 24px;
    }
    &-32 {
      margin-left: 32px;
    }
    &-48 {
      margin-left: 48px;
    }
  }
}

//padding
.#{$prefix}-p {
  &-14 {
    padding: 14px 0;
  }
  &-16 {
    padding: 16px 0;
  }
  &-40 {
    padding: 40px 0;
  }
  &-50 {
    padding: 50px;
  }
  &t {
    &-0 {
      padding-top: 0;
    }
    &-8 {
      padding-top: 8px;
    }
    &-12 {
      padding-top: 12px;
    }
    &-16 {
      padding-top: 16px;
    }
    &-20 {
      padding-top: 20px;
    }
    &-24 {
      padding-top: 24px;
    }
    &-32 {
      padding-top: 32px;
    }
    &-36 {
      padding-top: 36px;
    }
    &-40 {
      padding-top: 40px;
    }
    &-44 {
      padding-top: 44px;
    }
    &-64 {
      padding-top: 64px;
    }
    &-72 {
      padding-top: 72px;
    }
  }
  &r {
    &-8 {
      padding-right: 8px;
    }
    &-12 {
      padding-right: 12px;
    }
    &-16 {
      padding-right: 16px;
    }
    &-20 {
      padding-right: 20px;
    }
    &-24 {
      padding-right: 24px;
    }
    &-32 {
      padding-right: 32px;
    }
    &-40 {
      padding-right: 40px;
    }
    &-30 {
      padding-right: 30px;
    }
    &-36 {
      padding-right: 36px;
    }
    &-42 {
      padding-right: 42px;
    }
    &-50 {
      padding-right: 50px;
    }
    &-60 {
      padding-right: 60px;
    }
    &-100 {
      padding-right: 100px;
    }
    &-120 {
      padding-right: 120px;
    }
    &-250 {
      padding-right: 250px;
    }
  }
  &b {
    &-4 {
      padding-bottom: 4px;
    }
    &-8 {
      padding-bottom: 8px;
    }
    &-12 {
      padding-bottom: 12px;
    }
    &-16 {
      padding-bottom: 16px;
    }
    &-20 {
      padding-bottom: 20px;
    }
    &-24 {
      padding-bottom: 24px;
    }
    &-28 {
      padding-bottom: 28px;
    }
    &-32 {
      padding-bottom: 32px;
    }
    &-36 {
      padding-bottom: 36px;
    }
    &-40 {
      padding-bottom: 40px;
    }
    &-44 {
      padding-bottom: 44px;
    }
    &-48 {
      padding-bottom: 48px;
    }
    &-52 {
      padding-bottom: 52px;
    }
    &-64 {
      padding-bottom: 64px;
    }
    &-72 {
      padding-bottom: 72px;
    }
    &-80 {
      padding-bottom: 80px;
    }
    &-100 {
      padding-bottom: 100px;
    }
    &-190 {
      padding-bottom: 190px;
    }
  }
  &l {
    &-4 {
      padding-left: 4px;
    }
    &-8 {
      padding-left: 8px;
    }
    &-10 {
      padding-left: 10px;
    }
    &-12 {
      padding-left: 12px;
    }
    &-16 {
      padding-left: 16px;
    }
    &-20 {
      padding-left: 20px;
    }
    &-24 {
      padding-left: 24px;
    }
    &-30 {
      padding-left: 30px;
    }
    &-32 {
      padding-left: 32px;
    }
    &-36 {
      padding-left: 36px;
    }
    &-40 {
      padding-left: 40px;
    }
    &-42 {
      padding-left: 42px;
    }
  }
}

// top, bottom, left, right
.#{$prefix}-t {
  &-0 {
    top: 0;
  }
  &-4 {
    top: 4px;
  }
  &-20 {
    top: 20px;
  }
}
.#{$prefix}-r {
  &-0 {
    right: 0;
  }
  &-15 {
    right: 15px;
  }
}
.#{$prefix}-b {
  &-0 {
    bottom: 0px;
  }
}
.#{$prefix}-l {
  &-0 {
    left: 0;
  }
  &-15 {
    left: 15px;
  }
}

.#{$prefix}-object {
  &-contain {
    object-fit: contain;
  }
  &-cover {
    object-fit: cover;
  }
  &-pos-center {
    object-position: center;
  }
  &-pos-left {
    object-position: left;
  }
}

//utilities css
.#{$prefix}-container {
  width: 100%;
  max-width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.#{$prefix}-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -14px;
  margin-left: -14px;
  &-reverse {
    flex-direction: row-reverse;
  }
}

[class*="#{$prefix}-col-"] {
  padding-left: 14px;
  padding-right: 14px;
}

.#{$prefix}-col {
  &-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  &-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  &-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  &-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  &-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  &-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  &-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  &-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  &-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  &-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  &-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

//max-width
.#{$prefix}-max-w {
  &-30 {
    max-width: 30%;
  }
  &-40 {
    max-width: 40%;
  }
  &-50 {
    max-width: 50%;
  }
  &-60 {
    max-width: 60%;
  }
  &-65 {
    max-width: 65%;
  }
  &-70 {
    max-width: 70%;
  }
  &-80 {
    max-width: 80%;
  }
  &-100 {
    max-width: 100%;
  }
}

//width
.#{$prefix}-w {
  &-45 {
    width: 45%;
  }
  &-50 {
    width: 50%;
  }
  &-55 {
    width: 55%;
  }
  &-70 {
    width: 70%;
  }
  &-95 {
    width: 95%;
  }
  &-100 {
    width: 100%;
  }
  &-px-40 {
    width: 40px;
  }
}

//min-height
.#{$prefix}-min-h {
  &-100 {
    min-height: 100%;
  }
}

.#{$prefix}-max-h {
  &-100 {
    max-height: 100%;
  }
}

.#{$prefix}-height {
  &-100 {
    height: 100%;
  }
}

.#{$prefix}-relative {
  position: relative;
}

.#{$prefix}-absolute {
  position: absolute;
}



//flex
.#{$prefix}-flex {
  display: flex;

  &--items-center {
    align-items: center;
  }
  &--items-start {
    align-items: flex-start;
  }
  &--items-end {
    align-items: flex-end;
  }
  &--items-baseline {
    align-items: baseline;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-end {
    justify-content: flex-end;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--direction-column {
    flex-direction: column;
  }
  &--none {
    flex: none;
  }
  &--auto {
    flex: auto;
  }
  &--inline {
    display: inline-flex;
  }
  &--content-center {
    align-content: center;
  }
}

table, th, td {
  border: 1px solid black;
}

.#{$prefix}-border {
  border: 1px solid $black-color;
}

.#{$prefix}-text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

button {
  &:focus {
    outline: none;
  }
}