.#{$prefix}-main-page {
    &__wrapper {
        @include poly-fluid-sizing('padding-top', (576px: 80px, 992px: 175px));
        @include poly-fluid-sizing('padding-bottom', (576px: 90px, 992px: 210px));
    }
    &__bg-color {
        background-color: #D1E4EC;
    }
    &__title {
        @include poly-fluid-sizing('font-size', (576px: 34px, 768px: 43px, 992px: 68px));
        @include lh-unitless(90, 68);
        color: $titles-color;
    }
    &__description {
      @include poly-fluid-sizing('font-size', (576px: 18px, 992px: 27px));
      @include lh-unitless(36, 27);
      color: $titles-color;
    }
}
@media (max-width: 768px) {
    .#{$prefix}-main-page {
        &__image {
            width: auto;
        }
        &__wrapper {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(209, 228, 238, 0.5);
                z-index: 2;
            }
        }
    }
}